@import "variable.styl"

body, html
  line-height: 1
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
  user-select: none
  -webkit-tap-highlight-color: transparent
  background: $color-background
  color: $color-text

div, p
  line-height: 1.5

.iconfont
  font-size: 30px

.aui-mask, .aui-mask1
  position: fixed
  width: 100%
  height: 100%
  top: 0
  left: 0
  background: rgba(0, 0, 0, 0.3)
  opacity: 0
  z-index: 100
  visibility: hidden
  -webkit-transition: opacity .3s,-webkit-transform .3s
  transition: opacity .3s,transform .3s

.aui-mask.aui-mask-in, .aui-mask1.aui-mask-in1
  visibility: visible
  opacity: 1

.aui-mask.aui-mask-out, .aui-mask1.aui-mask-out1
  opacity: 0

// 单选、多选、开关
.aui-radio, .aui-checkbox
  position: relative
  display: inline-block
  width: 45px
  height: 45px
  background-color: #ffffff
  border: solid 1px #dddddd
  border-radius: 50%
  font-size: 30px
  vertical-align: top
  cursor: default
  user-select: none
  -webkit-appearance: none
  transition: background-color ease 0.1s

.aui-checkbox
  border-radius: 4px

.aui-radio:checked,
.aui-radio.aui-checked,
.aui-checkbox:checked,
.aui-checkbox.aui-checked
  background-color: $color-theme
  border: solid 1px $color-theme
  text-align: center
  background-clip: padding-box

.aui-radio:checked:before,
.aui-radio.aui-checked:before,
.aui-checkbox:checked:before,
.aui-checkbox.aui-checked:before,
.aui-radio:checked:after,
.aui-radio.aui-checked:after,
.aui-checkbox:checked:after,
.aui-checkbox.aui-checked:after
  position: absolute
  content: ''
  width: 19px
  height: 0.3rem
  top: 50%
  left: 50%
  margin-left: -9px
  margin-top: -9px
  background: transparent
  border: 1px solid #ffffff
  border-top: none
  border-right: none
  z-index: 2
  -webkit-border-radius: 0
  border-radius: 0
  transform: rotate(-45deg)

.aui-radio:disabled,
.aui-radio.aui-disabled,
.aui-checkbox:disabled,
.aui-checkbox.aui-disabled
  background-color: #dddddd
  border: solid 1px #dddddd

.aui-radio:disabled:before,
.aui-radio.aui-disabled:before,
.aui-radio:disabled:after,
.aui-radio.aui-disabled:after,
.aui-checkbox:disabled:before,
.aui-checkbox.aui-disabled:before,
.aui-checkbox:disabled:after,
.aui-checkbox.aui-disabled:after
  position: absolute
  content: ''
  width: 19px
  height: 11px
  top: 50%
  left: 50%
  margin-left: -9px
  margin-top: -9px
  background: transparent
  border: 1px solid #ffffff
  border-top: none
  border-right: none
  z-index: 2
  -webkit-border-radius: 0
  border-radius: 0
  -webkit-transform: rotate(-45deg)
  transform: rotate(-45deg)

.aui-switch
  position: relative
  width: 86px
  height: 45px
  vertical-align: top
  border: 1px solid #dddddd
  background-color: #dddddd
  border-radius: 0.6rem
  display: inline-block
  outline: none
  -webkit-appearance: none
  appearance: none
  user-select: none
  box-sizing: border-box
  background-clip: padding-box
  transition: all 0.2s linear

.aui-switch:before
  position: absolute
  width: 41px
  height: 41px
  top: 0
  left: 0
  border-radius: 22px
  background-color: #fff
  content: ''
  transition: left 0.2s

.aui-switch:checked
  border-color: #03a9f4
  background-color: #03a9f4

.aui-switch:checked:before
  left: 41px

// dialog
.aui-dialog, .aui-dialog1
  position: fixed
  z-index: 999
  left: 50%
  top: 45%
  margin-left: -253px
  margin-top: 0
  width: 506px
  text-align: center
  border-radius: 11px
  opacity: 0
  background-color: #ffffff
  transform: translate3d(0, 0, 0) scale(1.2)
  transition-property: transform, opacity
  /*display: none;*/

.aui-dialog-header, .aui-dialog-header1
  height: 37px
  line-height: 37px
  padding: 18px 28px 0 28px
  text-align: center
  font-size: $font-size-medium
  color: #222

.aui-dialog-body, .aui-dialog-body1
  padding: 28px
  overflow: hidden
  font-size: $font-size-small-s
  color: $color-text

.aui-dialog-body input
  height: 67px
  line-height: 67px
  min-height: 67px
  padding-left: 10px
  padding-right: 10px
  border: 1px solid #dddddd

.aui-dialog-footer, .aui-dialog-footer1
  position: relative
  font-size: $font-size-small-s
  border-top: 1px solid #dddddd
  display: flex
  justify-content: center

.aui-dialog-btn, .aui-dialog-btn1
  position: relative
  display: block
  height: 75px
  width: 100%
  line-height: 75px
  padding: 0 10px
  font-size: $font-size-medium
  text-align: center
  color: $color-theme
  border-right: 1px solid #dddddd
  white-space: nowrap
  text-overflow: ellipsis
  overflow: hidden
  box-sizing: border-box
  box-flex: 1

.aui-dialog-btn:last-child, .aui-dialog-btn1:last-child
  border-right: none

.aui-dialog.aui-dialog-in, .aui-dialog1.aui-dialog-in1
  opacity: 1
  transition-duration: 300ms
  transform: translate3d(0, 0, 0) scale(1)

.aui-dialog.aui-dialog-out, .aui-dialog1.aui-dialog-out1
  opacity: 0
  transition-duration: 300ms
  transform: translate3d(0, 0, 0) scale(0.815)



