@font-face
  font-family: "iconfont"
  src: url('../fonts/iconfont.eot?t=1515985463747')
  src: url('../fonts/iconfont.eot?t=1515985463747#iefix') format('embedded-opentype'),
    url('../fonts/iconfont.woff?t=1515985463747') format('woff'),
    url('../fonts/iconfont.ttf?t=1515985463747') format('truetype'),
    url('../fonts/iconfont.svg?t=1515985463747#iconfont') format('svg')

.iconfont
  font-family: "iconfont" !important
  font-size: 30px
  font-style: normal
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-listen:before
  content: "\e717"

.icon-person:before
  content: "\e697"

.icon-marker:before
  content: "\e615"

.icon-share:before
  content: "\e6ba"

.icon-classification:before
  content: "\e740"

.icon-pwd:before
  content: "\e652"
