// 背景图片
bg-image($url)
  background-image: url($url + "@2x.png")
  @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
    background-image: url($url + "@3x.png")

// 不换行
no-wrap()
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap

// 右箭头
arrow-rig($wid, $border-wid, $color)
  display: inline-block
  width: $wid
  height: $wid
  border-right: $border-wid solid $color
  border-top: $border-wid solid $color
  transform: rotate(45deg)

// 左箭头
arrow-left($wid, $border-wid, $color)
  display: inline-block
  width: $wid
  height: $wid
  border-right: $border-wid solid $color
  border-top: $border-wid solid $color
  transform: rotate(-135deg)

// 扩展点击区域
extend-click()
  position: relative
  &:before
    content: ''
    position: absolute
    top: -10px
    left: -10px
    right: -10px
    bottom: -10px
